.sun {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #fcd75f 50%, #f79b42 100%);
  box-shadow: 0 0 80px 20px rgba(255, 180, 50, 0.8);
  z-index: 0;
}
